:root {
    --color_1: #ff8900;
    --color_2: #000000;
    --color_3: #fff;
    --color_4: #ff620c;
    --color_5: rgba(255, 98, 12, 0.9);
    --color_6: rgba(255, 98, 12, 0.7);
    --color_7: #f4f4f4;
    --color_8: red;
    --color_9: green;
    --color_10: rgba(0,0,0, 0.9);
    --font_1: 'Podkova';
    --font_2: 'Roboto';
}