@import "fonts.css";
@import "../components/faq/style.css";
*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 90%;
    max-width: 1200px;
    height: 100px;
    background: red;
    margin: 0 auto;
}
